<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
    <title>甫劳科技后台管理系统</title>
	<link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
	<script src="__JS__/jquery-1.11.1.min.js"></script>
	
    <script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/laydate/laydate.js"></script>
</head>
<body>
<include file="Public:nav_top" />
<include file="Public:nav_left" />

<div class="cont">
	<div class="contmain">
		
		<div class="boxi">
			<h1>网站信息</h1>
			
			<form action="<{:U('System/webConf')}>" method="post">
				<div class="boxinb">
					<span>网站备案号</span><input type="text" class="form-control" name="record_number" value="<{$config_data['record_number']}>">
				</div>
				<div class="boxinb">
					<span>网站名称</span><input type="text" class="form-control" name="site_name" value="<{$config_data.site_name}>">
				</div>
				<!--<div class="boxinb">-->
					<!--<span>网站logo</span><a href="javascript:;" class="form-control upfn"><input type="file"  /></a><i class="upfnb"></i>-->
				<!--</div>-->
				<div class="boxinb">
					<span>网站标题</span><input type="text" class="form-control" name="site_title" value="<{$config_data.site_title}>">
				</div>
				<div class="boxinb">
					<span>网站描述</span><input type="text" class="form-control" name="site_desc" value="<{$config_data.site_desc}>">
				</div>
				<div class="boxinb">
					<span>网站关键字</span><input type="text" placeholder="多个关键词用“,”半角逗号隔开" class="form-control" name="site_keywords" value="<{$config_data.site_keywords}>">
				</div>
				<div class="boxinb">
					<span>网站状态</span>
					<select name="site_status">
						<option value="0" <if condition="$config_data['site_status'] == 0"> selected </if>>关闭网站</option>
						<option value="1" <if condition="$config_data['site_status'] == 1"> selected </if> >开启网站</option>
					</select>
				</div>
				<div class="boxinbtn">
					<input type="submit" value="确定" class="btn btna" />
					<input type="reset" value="重置" class="btn btnb" />
				</div>
			</form>
		</div>
	
	</div>
</div>
<script src="__JS__/sdmenu.js"></script>

<script>
	$(".upfn").on("change","input[type='file']",function(){
		var filePath = $(this).val();
		var arr = filePath.split('\\');
        var fileName = arr[arr.length-1];
		$(".upfnb").html(fileName);
	})
</script>
</body>
</html>
