<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商家后台管理系统</title>
    <link href="__CSS__/basem.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/layer/layer.js"></script>
</head>
<body>

<div class="log-main">
    <img src="__IMG__/logo.png" alt="" />
    <h4>商家后台管理系统</h4>
    <div class="logcont">
        <form action="" method="post">
            <input type="text" name="user_name" class="inuser" placeholder="用户名" />
            <input type="password" name="pwd" class="inmm" placeholder="密码" />
            <input type="submit" name="submit" value="登录" class="inbtn" />
        </form>
    </div>
</div>

<!--页脚-->
<include file="Public::footer" />

</body>
</html>
