<div class="boxcont">
    <volist name="article_data" id="vo" empty="$empty">
    <a href="<{:U($vo['url'].'/'.$vo['article_id'])}>">
        <div class="boxitem">
            <div class="imglimt"><img src="<{$vo.titleimg}>" alt=""/></div>
            <h2><{$vo.title}></h2>
            <h3><{:substr($vo['synopsis'],0,15)}></h3>
            <div class="praise">
                <img src="__PUBLIC__/Mobile/images/iconeye.png" alt=""/><span><{$vo.clicks}></span>
                <!--<img src="__PUBLIC__/Mobile/images/iconcomm.png" alt=""/><span>18</span>-->
                <img src="__PUBLIC__/Mobile/images/iconstar.png" alt=""/><span><{$vo.zan}></span>
                <span><{$vo.newstime}></span>
            </div>
        </div>
    </a>
    </volist>
</div>