<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商家后台管理系统</title>
    <link href="__CSS__/basem.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/layer/layer.js"></script>
</head>

<body>

<!--标题栏-->
<div class="head">
    <a onclick="javascript:history.back(-1);" class="head-icon-l"><img src="__IMG__/back.png" /></a>
    <span>商家后台管理系统</span>
    <a href="<{:U('Login/logout')}>" class="head-icon-r"><img src="__IMG__/exit.png" /></a>
</div>
<div class="blank50"></div>


<div class="wrap">
    <!--头部信息区-->
    <div class="boxhead">
        <h1><{$business_data.business_name}></h1>
        <a href="">总活动数<br/><{$activity_count}></a>
        <a href="">总参与人数<br/><{$business_data.partake_count}></a>
        <a href="">总获奖人数<br/><{$business_data.win_count}></a>
    </div>

    <!--按钮区-->
    <div class="boxbtn">
        <a href="<{:U('Activity/index')}>"><img src="__IMG__/iconevent.png" alt="" /><br/>活动列表
            <a href="<{:U('Partake/search')}>"><img src="__IMG__/iconchange.png" alt="" /><br/>查询兑奖
    </div>
</div>

<!--页脚-->
<include file="Public::footer" />

</body>
</html>
