
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="__CSS__/base0405a.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="__CSS__/html5shiv.js"></script>
    <script src="__CSS__/respond.min.js"></script>
    <![endif]-->
    <script src="__CSS__/jquery-2.1.1.min.js"></script>
    <script src="__CSS__/item.js"></script>
    <script src="__CSS__/bootstrap.min.js"></script>
    <title>奉贤社圈网--奉贤网络社区平台，奉贤网络社交圈</title>
    <meta name="keywords" content="奉贤社圈网,奉贤社区网站,奉贤社交圈,奉贤朋友圈,奉贤兴趣爱好圈,奉贤活动圈"/>
    <meta name="description" content="奉贤社圈网,奉贤社区网站,奉贤社交圈,奉贤朋友圈,奉贤兴趣爱好圈,奉贤活动圈"/>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?236971c0a464e1b54ed9392a9f6a3d5a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<!--头部模块-->
<include file="Public::header" />

<div class="contbk">
    <div class="cont">
        <!--左侧内容区-->

        <!--左侧导航-->
        <include file="Public::custom_left" />

        <div class="docr">
            <h1> 关于社圈</h1>
            <p>
            <p>
                社圈网（www.ishequan.cn），致力于分享生活乐趣与价值，为用户提供便捷的生活交流空间和体贴的本地服务，同时为商家提供线上线下无缝融合的互动营销解决方案。
            </p>
            <p>
                社圈网的核心用户群是18-55岁之间生活在奉贤本地的都市男女，他们热爱生活、爱分享、在旅行、生活、育儿、美食等方面，分享经验，相互帮助。他们热衷参加各种线上线下的活动。社圈网已经成为他们生活中不可或缺的部分。
            </p>
            <p>
                在为用户提供旅行、生活、育儿、美食等领域的个性化服务的同时，社圈网致力于为商家提供线上线下无缝融合的互动营销解决方案，建立了独特的社会化营销商业模式。同时将社交、本地和移动等功能紧密融合，为用户和客户提供了成熟的社会化信息服务平台。
            </p>
            <p>
                在社圈网，你可以随时和志趣相同的网友讨论旅行、生活、育儿、美食等方面的话题，并获得真诚的帮助。
            </p>        </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    currentActive("navId","docl-act");
    function currentActive(navId,curClass){
        var navId=document.getElementById(navId);
        var links=navId.getElementsByTagName("a");
        var currentLink=window.location.href;
        for(var i=0;i<links.length;i++){
            var menuLink=links[i].href;
            if(currentLink.indexOf(menuLink)!=-1){
                links[i].className=curClass;
            }else{
                links[i].className="";
            }
        }
    }
</script>

<!--底部模块-->
<include file="Public::footer" />


<script type="text/javascript">
    $(document).ready(function(){
        var obj = $('.docl');
        var offset = obj.offset();
        var topOffset = offset.top;
        var marginTop = obj.css("marginTop");
        var marginLeft = obj.css("marginLeft");
        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop >= topOffset){
                obj.css({
                    marginTop: -160,
                    position: 'fixed',
                });
            }
            if (scrollTop < topOffset){

                obj.css({
                    marginTop: marginTop,
                    position: 'fixed',
                });
            }
        });
    });
</script></body>
</html>