
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="__CSS__/base0405a.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="__JS__/html5shiv.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
    <script src="__JS__/jquery-2.1.1.min.js"></script>
    <script src="__JS__/item.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <title>奉贤社圈网--奉贤网络社区平台，奉贤网络社交圈</title>
    <meta name="keywords" content="奉贤社圈网,奉贤社区网站,奉贤社交圈,奉贤朋友圈,奉贤兴趣爱好圈,奉贤活动圈"/>
    <meta name="description" content="奉贤社圈网,奉贤社区网站,奉贤社交圈,奉贤朋友圈,奉贤兴趣爱好圈,奉贤活动圈"/>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?236971c0a464e1b54ed9392a9f6a3d5a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<!--头部模块-->
<include file="Public::header" />

<div class="contbk">
    <div class="cont">
        <!--左侧内容区-->

        <!--左侧导航-->
        <include file="Public::custom_left" />

        <div class="docr">
            <h1> 隐私政策</h1>
            <p>
            <h4>
                社圈网尊重并保护所有使用社圈网用户的个人隐私权。
            </h4>
            <p>
                为了给您提供更优质的服务，社圈网将以高度的勤勉、审慎义务对待您的个人信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，社圈网不会将这些信息对外披露或向第三方提供。社圈网会不时更新本隐私权政策。
                您在同意社圈网注册协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于社圈网注册协议不可分割的一部分。
            </p>
            <h4>
                1.个人信息
            </h4>
            <p>
                当您在社圈网进行用户注册登记、参加网站各个版块或线下等各种活动时，在您的同意及确认下，本网站将通过注册表格等形式提示您提供一些个人资料。这些个人资料包括：<br />
                a)个人识别信息：如姓名、性别、年龄、出生日期、身份证号码（或护照号码）、电话、工作单位、家庭住址、电子邮件地址等；<br />
                b)个人背景：职业、教育程度、收入状况、婚姻、家庭状况；<br />
                c)在您注册社圈网账户时，您根据社圈网要求提供的个人注册信息；<br />
                d)当您参加社圈网线上、线下活动，或要求提供特别服务时，社圈网会根据活动需要，要求您提供个人信息；<br />
                e)在您使用社圈网提供的服务，或访问社圈网网页时，社圈网自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；<br />
                f)社圈网通过合法途径从商业伙伴处取得的用户个人数据。<br />
                您了解并同意，以下信息不适用本隐私权政策：<br />
                a)您在使用社圈网服务平台提供的搜索服务时输入的关键字信息；<br />
                b)社圈网收集到的您在社圈网服务平台进行网页浏览的有关数据；<br />
                c)违反法律规定或违反本规则的行为，以及社圈网对您采取的措施。
            </p>
            <h4>
                2.信息披露和使用
            </h4>
            <p>
                在如下情况下，社圈网将依据相关法律、法规和其他规定的要求披露和使用您的个人信息：<br />
                a)经您事先同意，向第三方披露；<br />
                b)如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；<br />
                c)根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br />
                d)如您出现违反中国有关法律、法规或者社圈网服务协议、本声明或相关规则的情况，需要向第三方披露；<br />
                e)为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；<br />
                f)在未擅自泄露您的个人识别信息（指您的姓名、出生日期、身份证号码（或护照号码）、电话、工作单位、家庭住址）前提下，社圈网基于合理商业目的、以互联网行业普遍采用的方式使用您的个人信息；<br />
                g)其它社圈网根据法律、法规或者网站政策认为合适的披露。
            </p>
            <h4>
                3.信息安全
            </h4>
            <p>
                a)社圈网服务平台账户有安全保护功能，请妥善保管您的账户及密码信息。社圈网将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在\\\\\\\"完善的安全措施\\\\\\\"。<br />
                b)在使用社圈网提供的服务进行网上交流时，您不可避免的要向对方或公众披露自己的个人信息，如注册用户名或者头像照片等。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是社圈网服务平台账户及密码发生泄露，请您立即联络社圈网客服，以便社圈网采取相应措施。
            </p>
            <h4>
                4. Cookie的使用
            </h4>
            <p>
                社圈网使用 Cookie 来帮助您实现您的联机体验的个性化。Cookie 是由网页服务器存放在您的硬盘中的文本文件。Cookie 的主要用途之一是提供一种节约时间的实用功能。例如，如果您在社圈网注册，Cookie 会帮助您后续访问时调用您的特定信息。这样可以简化记录您的个人信息流程。当您返回到社圈网时，社圈网可以调出您以前所提供的信息。<br />
                您可以接受或拒绝 Cookie。大多数 Web 浏览器会自动接受 Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookie。如果选择拒绝 Cookie，那么您可能无法完全体验所访问的社圈网服务或网站的互动功能。
            </p>
            <h4>
                5.用户发布
            </h4>
            <p>
                社圈网的部分服务允许用户发布自己的信息、视频、照片、观点、博客等等，请注意上述内容自发布之时起成为公开信息， 请在公布您的联系信息、财务信息或其他个人信息之前做出谨慎判断。我们将无法阻止上述信息以不符合本隐私权声明和适用法律法规的方式被使用。此外，上述信息发布受限于本网站的服务协议。
            </p>
            <p>
            <h4>
                6.未成年人的个人信息保护
            </h4><p>
            社圈网非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用社圈网服务前，应事先取得您家长 或法定监护人的书面同意。<br /></p>
            <h4>
                7. 隐私权声明的更新
            </h4><p>

            我们会时常更新本隐私权声明，以反映我们的操作实践、相关服务和法律法规的变化。请您定期查阅。您继续使用本网站，即视为您同意本隐私权声明的更新。<br /></p>
            <h4>
                8. 问题与投诉
            </h4><p>

            如果您对本隐私权声明或个人信息保护有任何问题，请通过电子邮件与我们联系： jenny@fanstar.com。我们会尽最大 努力在合理时间内回复您。
        </p>        </p>
        </div>
    </div>
</div>


<script type="text/javascript">
    currentActive("navId","docl-act");
    function currentActive(navId,curClass){
        var navId=document.getElementById(navId);
        var links=navId.getElementsByTagName("a");
        var currentLink=window.location.href;
        for(var i=0;i<links.length;i++){
            var menuLink=links[i].href;
            if(currentLink.indexOf(menuLink)!=-1){
                links[i].className=curClass;
            }else{
                links[i].className="";
            }
        }
    }
</script>

<!--底部模块-->
<include file="Public::footer" />

<script type="text/javascript">
    $(document).ready(function(){
        var obj = $('.docl');
        var offset = obj.offset();
        var topOffset = offset.top;
        var marginTop = obj.css("marginTop");
        var marginLeft = obj.css("marginLeft");
        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop >= topOffset){
                obj.css({
                    marginTop: -160,
                    position: 'fixed',
                });
            }
            if (scrollTop < topOffset){

                obj.css({
                    marginTop: marginTop,
                    position: 'fixed',
                });
            }
        });
    });
</script>
</body>
</html>