<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>文章编辑</title>
	<link rel="stylesheet" href="__LIB__/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="__CSS__/main.css">
</head>
<body>
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="#">首页</a></li>
			<li><a href="news_list.html">信息中心</a></li>
			<li class="active">文章编辑</li>
		</ol>
		<div class="row">
			<form class="form-horizontal col-md-8" action="<{:U('edit')}>" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label for="title" class="col-md-2 control-label">标题</label>
					<div class="col-md-8">
						<input class="form-control" id="title" name="title" placeholder="请输入标题" value="<{$article_info.article.title}>">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">文章分类</label>
					<div class="col-md-3">
						<select class="form-control" name="cate_id">
							<option value="0">请选择分类</option>
							<volist name="article_info.category" id="vo">
								<option value="<{$vo.cate_id}>" <if condition="$vo['cate_id'] == $article_info['article']['cate_id']">selected</if>><{:str_repeat('--',$vo['level']*2)}><{$vo.cate_name}></option>
							</volist>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="content" class="col-md-2 control-label">信息属性</label>
					<div class="col-md-10">
						<div class="checkbox">
							<label >
								<input type="checkbox" name="status" <if condition="$article_info['article']['status'] == 1">checked</if>>审核
							</label>
							<label >
								<input type="checkbox" name="is_new" <if condition="$article_info['article']['is_new'] == 1">checked</if> >最新
							</label>
							<label >
								<input type="checkbox" name="is_hot" <if condition="$article_info['article']['is_hot'] == 1">checked</if>>最热
							</label>
							<label>
								<input type="checkbox" name="is_recommend" <if condition="$article_info['article']['is_recommend'] == 1">checked</if>>推荐
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="keywords" class="col-md-2 control-label">关键词</label>
					<div class="col-sm-8">
						<input class="form-control" id="keywords" name="keywords" placeholder="请输入关键词" value="<{$article_info.article.keywords}>">
						<p class="help-block">多个关键词用 "," 半角逗号隔开</p>
					</div>
				</div>
				<div class="form-group">
					<label for="img" class="col-md-2 control-label">标题图片</label>
					<div class="col-md-3">
						<input class="form-control" type="file" id="title" name="titleimg">
					</div>
				</div>
				<div class="form-group">
					<label for="tags" class="col-md-2 control-label">标签</label>
					<div class="col-sm-8">
						<input class="form-control" id="tags" name="tags" placeholder="请输入标签">
						<p class="help-block">多个标签用 "," 半角逗号隔开</p>
					</div>
				</div>
				<div class="form-group">
					<label for="synopsis" class="col-md-2 control-label">内容简介</label>
					<div class="col-md-5">
						<textarea class="form-control" rows="4" name="synopsis" id="synopsis"><{$article_info.article.synopsis}></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="author" class="col-md-2 control-label">作者</label>
					<div class="col-md-2">
						<input class="form-control" id="author" name="author" placeholder="请输入作者名字" value="<{$article_info.aritlce.author}>">
					</div>
				</div>
<!-- 				<div class="form-group">
					<label for="newstime" class="col-md-2 control-label">发布时间</label>
					<div class="col-md-3">
						<div class="input-group">
							<input class="form-control " id="newstime" name="newstime">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button">设为当前时间</button>
							</span>
						</div>
					</div>
				</div> -->
				<div class="form-group">
					<label for="clicks" class="col-md-2 control-label">点击数</label>
					<div class="col-md-2">
						<input class="form-control" id="clicks" name="clicks" value="<{$article_info.article.clicks}>">
					</div>
				</div>
				<div class="form-group">
					<label for="content" class="col-md-2 control-label">正文</label>
					<div class="col-md-10">
						<!-- <textarea class="form-control" rows="10" id="content"> -->
						<!-- 加载编辑器的容器 -->
						<script id="container" name="content" type="text/plain">
						</script>
						<!-- </textarea> -->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<textarea id='ue_hidden' style="display:none"><{$article_info.article.content}></textarea>
						<input type="hidden" name="article_id" value="<{$article_info.article.article_id}>">
						<input class="btn btn-info" type="submit" value="提交">
						<input class="btn btn-warning" type="reset" value="重置">
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="__LIB__/jquery/jquery-1.11.3.js"></script>
	<script src="__LIB__/bootstrap/js/bootstrap.min.js"></script>
	<!-- 编辑器配置文件 -->
	<script type="text/javascript" src="__PUBLIC__/plugins/Ueditor/ueditor.config.js"></script>
	<!-- 编辑器源码文件 -->
	<script type="text/javascript" src="__PUBLIC__/plugins/Ueditor/ueditor.all.js"></script>
	<!-- 实例化编辑器 -->
	<script type="text/javascript">
		var editor = UE.getEditor('container');
		//对编辑器的操作最好在编辑器ready之后再做
		editor.ready(function() {
		    //设置编辑器的内容
		    editor.setContent($("#ue_hidden").val());
		});
	</script>
</body>
</html>