<!DOCTYPE html>
<html lang="Zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>商家后台管理系统</title>
    <link href="__CSS__/basem.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
    <script src="__JS__/layer/layer.js"></script>
</head>

<body>

<!--标题栏-->
<div class="head">
    <a href="<{:U('Index/index')}>" class="head-icon-l"><img src="__IMG__/back.png" /></a>
    <span>活动列表</span>
    <a href="<{:U('Login/logout')}>" class="head-icon-r"><img src="__IMG__/exit.png" /></a>
</div>
<div class="blank50"></div>
<div class="wrapb">
    <div class="itemlist">
        <ul>
            <a href="javascript:;"><li>
                <span>序号</span>
                <span>活动名称</span>
                <span>参与人数</span>
                <span>获奖人数</span>
                <span>兑奖人数</span>
            </li></a>
        </ul>
        <ul>
            <volist name="activity_data" id="vo" key="k">
            <a href="<{:U('Partake/index',array('activity_id'=> $vo['activity_id']))}>"><li>
                <span><{$k}></span>
                <span><{$vo.activity_name}></span>
                <span><{$vo.partake_count}></span>
                <span><{$vo.win_count}></span>
                <span><{$vo.cashprize_count}></span>
            </li>
            </a>
            </volist>
        </ul>
    </div>
</div>
<!--页脚-->

<include file="Public::footer"/>

</body>
</html>
